<div class="grid">
    <div class="col-12" @fadeAnimation2>
        <h5>
            <p-badge value="รายงานข้อมูลพื้นฐาน" size="large" severity="primary" styleClass="p-font">
            </p-badge>
        </h5>
        <div class="card">
            
            <div class="grid">
                <div class="col-12 lg:col-6 xl:col-4" *ngFor="let year of active_year">
                    <div class="card mb-0 bg-{{year.year_status_color}}-100" routerLink="/reportdata/{{year.year_id}}">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">{{year.year_description}}</span>
                                <div class="text-900 font-medium text-xl">ปี {{year.year_id}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-bluegray-50 border-round"
                                [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="{{year.year_status_icon}} text-{{year.year_status_color}}-500 text-xl"></i>
                            </div>
                        </div>
                        <span class="text-{{year.year_status_color}}-500 font-medium">{{year.year_status_name}} </span>
                    </div>
                </div>
            </div>
            <hr *ngIf="active_year!=''" class="mb-5">
            <div class="grid">

                <div class="col-12 lg:col-6 xl:col-4" *ngFor="let year of not_active_year">
                    <div class="card mb-0 bg-{{year.year_status_color}}-100" routerLink="/reportdata/{{year.year_id}}">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">{{year.year_description}}</span>
                                <div class="text-900 font-medium text-xl">ปี {{year.year_id}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-bluegray-50 border-round"
                                [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="{{year.year_status_icon}} text-{{year.year_status_color}}-500 text-xl"></i>
                            </div>
                        </div>
                        <span class="text-{{year.year_status_color}}-500 font-medium">{{year.year_status_name}} </span>
                    </div>
                </div>

            </div>
        </div>

    </div>